.App {
  text-align: center;
}

.App-header {
  background-color: hsl(230, 17%, 14%);
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  font-size: calc(10px + 2vmin);
  color: white;
}